@media screen and (max-width: 475px){
    
    .bouttons{
    transform: translate(-14%,63%);
    display: flex;
    flex-direction: row;
    gap: 18px;
    justify-content: center;
    width: 62%;
    }
    

    .ord{
         height: 200px;
        
        }
    .cont {
        width: 100%;
            /* justify-content: center; */
            /* place-items: center; */
            all: unset;
            display: flex;
            flex-direction: column;
            place-items: center;
            gap: 6vh;
            padding-top: 12%;
          
    } 
    .btn-acc {
        border: 1px solid #fff;
        text-decoration: none;
        color: white;
        position: relative;
        transition: 0.6s ease;
        background-color:#6E5E6E ;
        border-radius: 24px;
        font-size:18px;
        padding: 10px 10px;
        z-index: 1;
        display: flex;
        justify-content: center;
        width: 104px;
        left: 106px;
    }
    .icone-medias {
        width: 45px;
    }
    .medias {
        display: grid;
        place-items: center;
        place-items: self-end;
        grid-template-columns: 70% 1fr 1fr 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr;
        position: relative;
        gap: 12px;
        z-index: 1;
        transform: translate(-27%,81%);
         }

    .section-range{
        min-height: 60vh;
    }   
    .all{
        min-height: 475px;
    }
    .experiences-grid{
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
    padding: 30px;
    margin-top: 27px;
    }
    .h3 {
        text-align: center;
        font-size: 41px;
        font-family: "Segoe UI";
        color: rgb(255, 255, 255);
        height: 6vh;
        padding-top: 21px;
    }
    button {
        padding: 13px;
        padding-left: 26px;
        padding-right: 21px;
     }
     .formgroup {
        
        height: 100px;
        margin: auto;
        width: 61%;
     }
     .grille{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(6,1fr);
        padding-bottom: 171px;
        padding-top: 100px;
        position: relative;
        align-items: center;
        grid-area: 12px;
        gap: 2vh;
    }
     
    .itemA1 {
        border: 1px black solid;
        grid-area: 1/2 / 2/3;
        width: 67%;
    }
    .itemA2 {
        border: 1px black solid;
        grid-area: 2/2 / 3/3;
        width: 67%;
    }
    .itemA3 {
        border: 1px black solid;
        grid-area: 2/2 / 3/3;
        width: 67%;
    }

    .contan {
        grid-area: 2/2 / 3/3;
        background-image: linear-gradient(to right, #5071F0, white);
        height: 25px;
        width: 59vw;
     }
    
     .btn-rond
{
    width:70px;
    height:70px;
    border:1px solid rgb(150, 134, 134) ;
    border-radius:50%;
    background: #b6b6d9;
    position: fixed;
    top:5px;
    left:10px;
    z-index:100;
    display: block;

}
.cont-line
{
    width:36px;
    height:36px;
    cursor: pointer;
    position: absolute;
    top:50%;
    left:50%;
    transform : translate(-50%,-50%);
}
.line-unique
    {
        width:100%;
        height:4px;
        border-radius: 5px;
        background: white;
        position: absolute;
        top:50%;
        left:50%;
        transform : translate(-50%,-50%);
    }
    .line-unique::before
    {
        content:'';
        position: absolute;
        bottom:10px;
        background: white;
        width:100%;
        height:4px;
        border-radius: 5px;
    }
    .line-unique::after
    {
        content:'';
        position: absolute;
        top:10px;
        background: white;
        width:100%;
        height:4px;
        border-radius: 5px;
    }
   

    .menu-bar{
        position: absolute;
        z-index: 1000;
        width: 60vw;
        height: 73vh;
        top:0;
        left: 0;
    }
    .show-nav{
        display: block;        
    }

    .nav{
        display: none;
        width: 100%;
        height: 5vh;
        font-size: 30px;
        
    }

    .order {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(202, 228, 228);
        top: 80px;
        left: 0;
        text-align: center;


    }
    .show-nav.menu-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .menu-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        color: #fff;
        font-size: 3vh;
    }
    .close-menu-btn{
        width: 25px;
        height: 25px;
    }
}
